.profile {
  padding: 20px;
  width: 350px;
  background: rgb(180, 173, 173);
  border: 2px solid rgb(156, 156, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  color: blueviolet;
  text-align: center;
}

.avatar {
  background-color: #ffffff;
}

.stats {
  text-align: center;
}

.quantity {
  color: rgb(129, 90, 236);
}
